/* dùng first-of-type thì nó sẽ theo kiểu loại thẻ nghĩa là dù có thẻ nào khác đứng trước thì nó cũng chỉ tính là loại thẻ p  */
/* p:first-of-type {
    color: red;
} */
/* tương tự như last-of-type nhưng mà là lấy thẻ cuối cùng trong thẻ cha */
/* p:last-of-type {
    color: green;
} */
/* nth-of-type chọn thẻ xuất hiện thứ n trong thẻ cha nhưng có kiểu nghĩa là chọn theo từng loại thẻ mà bạn gọi ra */
p:nth-of-type(2) {
    color: aqua;
}
/* chọn ra thẻ xuất hiện thứ n trong thẻ cha tính từ dưới lên nó chọn thẻo loại khi mà khai báo */
h3:nth-last-of-type(2) {
    color: blue;
    font-size: 40px;
}
/* chọn ra thẻ con duy nhất trong thẻ cha cũng tính thẻo kiểu loại mà khi ta khai boá */
i:only-of-type {
    font-size: 100px;
}
